@implements IDisposable
@inject LayoutStateService LayoutStateService
@inject NavigationManager NavigationManager
@inject UserProvider UserProvider

<MudToolBar Class="pa-0 mb-0" Style="width:100%;">
    <MudText Typo="Typo.h5">
        <MudElement HtmlTag="a"
                    Class="ms-1"
                    Style="color:#FF5734;font-weight:bold;"
                    href="/"
                    target="blank"
                    rel="noopener noreferrer">
            Umbra
        </MudElement>
        <MudElement HtmlTag="span"
                    Style="color:#FFFFFF;font-weight:bold;"
                    href="/"
                    target="blank" rel="noopener noreferrer">
            School
        </MudElement>
    </MudText>
    <MudSpacer />
    <MudSpacer />
    <MudSpacer />
    <AuthorizeView>
        <Authorized>
            <MudTextField T="string" Label="Search" Clearable="true" Underline="false"
                          Variant="Variant.Filled" style="border-radius: 30px; "
                          Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="MudBlazor.Color.Secondary"></MudTextField>
            <MudIconButton Icon="@Icons.Material.Outlined.Notifications" Color="MudBlazor.Color.Primary" />
            <MudMenu>
                <ActivatorContent Context="acContext">
                    <MudAvatar Color="MudBlazor.Color.Primary">
                        @(_currentDisplayAvatar)
                    </MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Label="Profile" />
                    <MudMenuItem Label="Switch Account" />
                    <MudMenuItem Label="Logout" OnClick="Logout" />
                </ChildContent>
            </MudMenu>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <MudIconButton Icon="@Icons.Material.Filled.Logout" ButtonType="ButtonType.Submit" Color="MudBlazor.Color.Primary"></MudIconButton>
            </form>
        </Authorized>
        <NotAuthorized>
            @if (RendererInfo.IsInteractive)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Login" Color="MudBlazor.Color.Primary" OnClick="Login"></MudIconButton>
            }
            else
            {
                <MudIconButton Icon="@Icons.Material.Filled.Login" Color="MudBlazor.Color.Primary" Href="/account/login"></MudIconButton>
            }
        </NotAuthorized>
    </AuthorizeView>
    @if (RendererInfo.IsInteractive)
    {
        <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="MudBlazor.Color.Primary"
                       OnClick="LayoutStateService.ToggleTheme" />
        <MudIconButton Icon="@Icons.Material.Outlined.MoreVert" Color="MudBlazor.Color.Inherit" />
    }
</MudToolBar>

@code {
    string _currentDisplayName = string.Empty;
    string _currentDisplayAvatar = string.Empty;
    private string? currentUrl;
    protected override async Task OnInitializedAsync()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        await GetCurrentUserNames();
    }

    async Task GetCurrentUserNames()
    {
        var user = await UserProvider.GetUserAsync();
        var username = user.Username;
        var fullName = user.FullName;
        if (string.IsNullOrWhiteSpace(fullName))
        {
            _currentDisplayName = username;
            if (!string.IsNullOrEmpty(_currentDisplayName))
            {
                _currentDisplayAvatar = username.Substring(0, 1).ToUpper();
            }
        }
        else
        {
            _currentDisplayName = fullName;
            if (!string.IsNullOrEmpty(_currentDisplayName))
            {
                _currentDisplayAvatar = _currentDisplayName.Substring(_currentDisplayName.Length - 1, 1).ToUpper();
            }
        }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    void Logout()
    {
        NavigationManager.NavigateTo("/Account/Logout", forceLoad: true);
    }

    void Login()
    {
        NavigationManager.NavigateTo("/Account/Login", forceLoad: true);
    }
}
