@implements IDisposable

@inject NavigationManager NavigationManager

<style>
    .mud-nav-item.active {
        color: var(--mud-palette-primary);
        background-color: var(--mud-palette-action-default-hover);
    }
</style>

<MudNavMenu Rounded="true" Bordered="true" Margin="Margin.Normal">
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">主页</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavGroup Title="英语课程" Expanded="@IsExpanded("/english")" Icon="@Icons.Material.Filled.Book">
                <MudNavLink Href="/english/words/shsv/a" Match="NavLinkMatch.Prefix" Class="@(PageIsActive("shsv") ? "active" : "")" Icon="@Icons.Material.Filled.Abc" title="高中词汇">高中词汇</MudNavLink>
                <MudNavLink Href="/english/words/shpsv/a" Match="NavLinkMatch.Prefix" Class="@(PageIsActive("shpsv") ? "active" : "")" Icon="@Icons.Material.Filled.Abc" title="小学词汇">小学词汇</MudNavLink>
                <MudNavLink Href="/english/phrases" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.TextSnippet" title="高中词组" Class="d-none">高中词组</MudNavLink>
                <MudNavLink Href="/english/translations" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Translate" title="语句翻译" Class="d-none">语句翻译</MudNavLink>
                <MudNavLink Href="/english/readings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Newspaper" title="时文阅读" Class="d-none">时文阅读</MudNavLink>
                <MudNavLink Href="/english/words/unfamiliar/all" Match="NavLinkMatch.Prefix" Class="@(PageIsActive("unfamiliar") ? "active" : "")" Icon="@Icons.Material.Filled.Abc" title="我的生词库">我的生词库</MudNavLink>
                <MudNavGroup Title="水平测试" Expanded="@IsExpanded("/assessment")" Icon="@Icons.Material.Filled.Assessment">
                    <MudNavLink Href="/assessment/english/words" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Abc" title="词汇专项测试">词汇专项测试</MudNavLink>
                    <MudNavLink Href="/assessment/english/phrases" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.TextSnippet" title="词组专项测试" Class="d-none">词组专项测试</MudNavLink>
                    <MudNavLink Href="/assessment/english/translations" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.TextSnippet" title="翻译专项测试" Class="d-none">翻译专项测试</MudNavLink>
                    <MudNavLink Href="/assessment/english/combined" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.PresentToAll" title="综合测试" Class="d-none">综合测试</MudNavLink>
                </MudNavGroup>
            </MudNavGroup>
            <MudNavLink Href="/chinese/classicals" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.LibraryBooks" title="语文实词" Class="d-none">语文实词</MudNavLink>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Administrators">
        <Authorized>
            <MudNavGroup Title="测试管理" Expanded="@IsExpanded("/admin-assessment")" Icon="@Icons.Material.Filled.Book">
                <MudNavGroup Title="英语词汇专项测试" Expanded="false" Icon="@Icons.Material.Filled.Book">
                    <MudNavLink Href="/admin-assessment/english/words" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.NewLabel" title="制定测试计划">制定测试计划</MudNavLink>
                    <MudNavLink Href="/admin-assessment/english/words/review" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Grading" title="审批测试">审批测试</MudNavLink>
                </MudNavGroup>
            </MudNavGroup>
            <MudNavLink Href="/coravel/dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" title="Job Dashboard">后台管理面板</MudNavLink>
        </Authorized>
    </AuthorizeView>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Info">关于</MudNavLink>
    <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add" Class="d-none">Counter</MudNavLink>
    <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List" Class="d-none">Weather</MudNavLink>
    <MudNavLink Href="auth" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Lock" Class="d-none">Auth Required</MudNavLink>
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person" Class="d-none">@context.User.Identity?.Name</MudNavLink>
            <form action="Account/Logout" method="post">
                <AntiforgeryToken />
                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                <button type="submit" class="mud-nav-link mud-ripple d-none">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="MudBlazor.Color.Info" Class="mr-3"></MudIcon> Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person" Class="d-none">Register</MudNavLink>
            <MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Password" Class="d-none">Login</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    private bool IsExpanded(string hrefSegment)
    {
        // Checks if the current URL contains the path segment
        return NavigationManager.Uri.Contains(hrefSegment, StringComparison.OrdinalIgnoreCase);
    }

    private bool PageIsActive(string book)
    {
        var uri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();

        // Pattern 1: /english/words/shpsv/{alphabet}
        // Pattern 2: /english/words/shpsv/{start}/{end}
        // Both start with "english/words/shpsv"
        return uri.StartsWith($"english/words/{book}");
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

