@page "/Account/Register"
@layout Components.Layout.HomeLayout

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Umbra.School.Data
@using Umbra.School.Models.Account

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>注册</PageTitle>

<MudPaper Class="login-register-container" Elevation="0" Square="true">
    <MudGrid>
        <MudItem xs="6">
            <div class="login-register-gallery">
                <img src="@Assets["images/robots.jpg"]" class="photo">
                <img src="@Assets["images/login-left.jpg"]" class="photo">
                <img src="@Assets["images/abc.jpg"]" class="photo">
                <img src="@Assets["images/balloons.jpg"]" class="photo">
            </div>
        </MudItem>
        <MudItem xs="6">
            <EditForm Model="_model" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
                <DataAnnotationsValidator />
                <MudCard Elevation="5" Class="login-register-card">
                    <MudCardHeader Style="justify-content:center; align-items: center;">
                        <CardHeaderAvatar>
                            <MudAvatar Size="MudBlazor.Size.Large" Color="MudBlazor.Color.Success">
                                <MudIcon Icon="@Icons.Material.Filled.PersonAdd" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">创建新的账户。</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudText Typo="Typo.body2" Align="MudBlazor.Align.Center" Class="pa-5">
                                已经拥有账户？<MudLink Href="@(NavigationManager.GetUriWithQueryParameters("Account/Login", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))" Color="MudBlazor.Color.Success">直接登录</MudLink><br />
                            </MudText>
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <StatusMessage Message="@Message" />
                        <MudStaticTextField For="@(() => _model.Email)" @bind-Value="_model.Email"
                                            Label="电子邮箱（作为登录账户）" Placeholder="name@example.com"
                                            AdornmentIcon="@Icons.Material.Filled.Email" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Success"
                                            UserAttributes="@(new() { { "autocomplete", "username" }, { "aria-required", "true" } })" />

                        <MudStaticTextField For="@(() => _model.Password)" @bind-Value="_model.Password"
                                            Label="密码" InputType="InputType.Password" Placeholder="至少六位并至少包含一位大小写字母和数字"
                                            AdornmentIcon="@Icons.Material.Filled.Lock" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Success"
                                            UserAttributes="@(new() { { "autocomplete", "new-password" }, { "aria-required", "true" } })" />

                        <MudStaticTextField For="@(() => _model.ConfirmPassword)" @bind-Value="_model.ConfirmPassword"
                                            Label="确认密码" InputType="InputType.Password" Placeholder="与密码相同"
                                            AdornmentIcon="@Icons.Material.Filled.Lock" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Success"
                                            UserAttributes="@(new() { { "autocomplete", "new-password" }, { "aria-required", "true" } })" />
                        <MudStaticTextField For="@(() => _model.PhoneNumber)" @bind-Value="_model.PhoneNumber"
                                            Label="联系电话" Placeholder="联系电话"
                                            AdornmentIcon="@Icons.Material.Filled.Phone" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Success"
                                            UserAttributes="@(new() { { "autocomplete", "phone-number" }, { "aria-required", "false" } })" />
                        <MudStaticTextField For="@(() => _model.LastName)" @bind-Value="_model.LastName"
                                            Label="姓" Placeholder="姓"
                                            AdornmentIcon="@Icons.Material.Filled.Abc" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Success"
                                            UserAttributes="@(new() { { "autocomplete", "last-name" }, { "aria-required", "false" } })" />
                        <MudStaticTextField For="@(() => _model.FirstName)" @bind-Value="_model.FirstName"
                                            Label="名" Placeholder="名"
                                            AdornmentIcon="@Icons.Material.Filled.Abc" Adornment="Adornment.Start" AdornmentColor="MudBlazor.Color.Success"
                                            UserAttributes="@(new() { { "autocomplete", "first-name" }, { "aria-required", "false" } })" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudStaticButton Variant="Variant.Filled" Color="MudBlazor.Color.Success" FullWidth="true" FormAction="FormAction.Submit">注册</MudStaticButton>
                    </MudCardActions>
                </MudCard>
            </EditForm>
        </MudItem>
    </MudGrid>
</MudPaper>


@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private RegisterModel _model { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";

    public async Task RegisterUser(EditContext editContext)
    {
        var user = CreateUser();
        user.PhoneNumber = _model.PhoneNumber;
        user.LastName = _model.LastName;
        user.FirstName = _model.FirstName;
        user.FullName = GetFullName();
        await UserStore.SetUserNameAsync(user, _model.Email, CancellationToken.None);
        var emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, _model.Email, CancellationToken.None);
        var result = await UserManager.CreateAsync(user, _model.Password);

        if (!result.Succeeded)
        {
            identityErrors = result.Errors;
            return;
        }

        Logger.LogInformation("User created a new account with password.");

        var userId = await UserManager.GetUserIdAsync(user);
        var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

        await EmailSender.SendConfirmationLinkAsync(user, _model.Email, HtmlEncoder.Default.Encode(callbackUrl));

        if (UserManager.Options.SignIn.RequireConfirmedAccount)
        {
            RedirectManager.RedirectTo(
                "Account/RegisterConfirmation",
                new() { ["email"] = _model.Email, ["returnUrl"] = ReturnUrl });
        }

        await SignInManager.SignInAsync(user, isPersistent: false);
        RedirectManager.RedirectTo(ReturnUrl);
    }

    private static ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private string? GetFullName()
    {
        if (string.IsNullOrWhiteSpace(_model.FirstName) && string.IsNullOrWhiteSpace(_model.LastName))
            return null;
        // Logic: If either name contains Chinese characters, use Chinese format
        if (UtilityHelper.ContainsChinese(_model.FirstName!) || UtilityHelper.ContainsChinese(_model.LastName!))
        {
            return $"{_model.LastName}{_model.FirstName}"; // No space for Chinese names
        }
        return $"{_model.FirstName} {_model.LastName}"; // Space for English names
    }
}
