@page "/english/words/unfamiliar/{alphabet}"
@page "/english/words/unfamiliar/{start:int}/{end:int}"
@attribute [Authorize]
@using Umbra.School.Models.English
@inject UserProvider UserProvider
@inject IEnglishService EnglishService
@inject NavigationManager NavigationManager

<style>
    .mud-toolbar {
        justify-content: center;
    }
</style>

<MudPaper Elevation="0" Class="transparent-bg mb-3" Square="true">
    <MudToolBar Dense="true">
        <MudText Typo="Typo.h6" Style="font-weight:bold;">我的生词库（共@(_totalItems)个）</MudText>
        <MudSpacer />
        <MudForm>
            <MudStack Style="width: 300px;" Row>
                <MudTextField @bind-Value="@start" Style="width: 80px;" Mask="@(new RegexMask(@"^[0-9]\d*$"))" Label="从"></MudTextField>
                <MudTextField @bind-Value="@end" Style="width: 80px;" Mask="@(new RegexMask(@"^[0-9]\d*$"))" Label="到"></MudTextField>
                <MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="FilterByIndex" ButtonType="ButtonType.Button"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Abc" OnClick="FilterByAbc" ButtonType="ButtonType.Button"></MudIconButton>
            </MudStack>
        </MudForm>
    </MudToolBar>
    <MudDivider DividerType="DividerType.FullWidth" />
</MudPaper>

<MudDataGrid @ref="_dataGrid" T="EnglishWordModel" Items="@_allItems" Dense="true" Virtualize="false" ReadOnly="true">
    <ToolBarContent>
        <MudToolBar Dense="true">
            @{
                if (!string.IsNullOrEmpty(alphabet))
                {
                    var alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                    foreach (var letter in alphabets)
                    {
                        <MudChip T="string" Variant="@(letter.ToString().ToLower() == alphabet?.ToLower() ? Variant.Filled : Variant.Text)" Href="@($"/english/words/unfamiliar/{letter.ToString().ToLower()}")"
                                 Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small">@letter</MudChip>
                    }
                    <MudChip T="string" Variant="@("all" == alphabet?.ToLower() ? Variant.Filled : Variant.Text)" Href="@($"/english/words/unfamiliar/all")"
                             Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small">All</MudChip>
                }
            }
            <MudSpacer />
        </MudToolBar>
    </ToolBarContent>
    <NoRecordsContent>
        <MudText Typo="Typo.body1">没有任何记录。</MudText>
    </NoRecordsContent>
    <Columns>
        <TemplateColumn CellClass="d-flex justify-end" Title="英文单词" HeaderClass="d-flex justify-end" Sortable="true" SortBy="X => X.Word">
            <CellTemplate>
                <a href="javascript:void(0)" onclick="playVoice('@context.Item.Word');" title="发音">@context.Item.Word 🔊</a>&nbsp;
                <a href="https://dict.youdao.com/result?word=@context.Item.Word&lang=en" title="查看详细解释" target="_blank">🔗</a>&nbsp;
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="熟练程度" Sortable="true" SortBy="X => X.Rating">
            <CellTemplate>
                <MudStack Row>
                    <MudRating Size="@MudBlazor.Size.Small"
                               EmptyIconColor="MudBlazor.Color.Surface" FullIconColor="MudBlazor.Color.Success"
                               SelectedValue="@context.Item.Rating" SelectedValueChanged="@(val => Rating(context.Item, val))" />
                    @* <MudButton Size="@MudBlazor.Size.Small" Variant="@Variant.Filled"
                                   Color="@MudBlazor.Color.Default" StartIcon="@Icons.Material.Filled.Add"
                                   Style="white-space: nowrap">备忘</MudButton> *@
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Meaning" Title="中文释义" Sortable="true"></PropertyColumn>
    </Columns>
</MudDataGrid>

@code {
    [Parameter]
    public string? alphabet { get; set; }
    [Parameter]
    public int? start { get; set; }
    [Parameter]
    public int? end { get; set; }
    MudDataGrid<EnglishWordModel> _dataGrid = new MudDataGrid<EnglishWordModel>();
    List<EnglishWordModel> _allItems { get; set; } = new();
    int _totalItems;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
        StateHasChanged();
    }

    async Task LoadData()
    {
        var _currentUserId = (await UserProvider.GetUserAsync()).UserId;
        if (string.IsNullOrEmpty(_currentUserId)) return;
        var abc = alphabet;
        if (alphabet!= null && alphabet.ToLower() == "all")
        {
            abc = string.Empty;
        }
        var result = await EnglishService.GetUnfamiliarEnglishWords(_currentUserId, abc, start, end);
        if (result != null && result.Success && result.Data != null)
        {
            _allItems = result.Data.EnglishWords ?? new List<EnglishWordModel>();
            _totalItems = result.Data.TotalWordsOfBook;
        }
    }

    async Task Rating(EnglishWordModel word, int val)
    {
        var _currentUsername = (await UserProvider.GetUserAsync()).Username;
        if (string.IsNullOrEmpty(_currentUsername)) return;
        var result = await EnglishService.RatingEnglishWord(_currentUsername, word.Id, val);
        StateHasChanged();
    }

    void FilterByIndex()
    {
        if (start == null || start <= 0) start = 1;
        if (end == null || end <= 0) end = 0;
        NavigationManager.NavigateTo($"/english/words/unfamiliar/{start}/{end}");
    }

    void FilterByAbc()
    {
        NavigationManager.NavigateTo($"/english/words/unfamiliar/a");
    }

}
