@page "/english/words"
@page "/english/words/{book}"
@page "/english/words/{book}/{alphabet}"
@attribute [Authorize]
@using Umbra.School.Models
@using Umbra.School.Models.English
@inject IEnglishService EnglishService

<style>
    .mud-toolbar {
        justify-content: center;
    }
</style>

<MudPaper Elevation="0" Class="transparent-bg max-w-body pa-0">
    <MudPaper Elevation="0" Class="transparent-bg mb-3" Square="true">
        <MudToolBar Dense="true">
            <MudText Typo="Typo.h6" Style="font-weight:bold;">词汇（共@(_totalItems) / @(_totalWordsOfBook)个）</MudText>
            <MudSpacer />
            <MudButton Size="MudBlazor.Size.Small" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Class="mr-3"
                       StartIcon="@Icons.Material.Filled.Newspaper">水平测试</MudButton>
            <MudButton Size="MudBlazor.Size.Small" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Class="mr-3"
                       StartIcon="@Icons.Material.Filled.LibraryBooks">生词本/备忘薄</MudButton>
            <MudButton Size="MudBlazor.Size.Small" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Class="mr-3"
                       StartIcon="@Icons.Material.Filled.BarChart">统计分析</MudButton>
        </MudToolBar>
        <MudDivider DividerType="DividerType.FullWidth" />
    </MudPaper>

    <MudDataGrid @ref="_dataGrid" T="EnglishWordModel" Items="@_items" Dense="true" Virtualize="false" ReadOnly="true" HeaderClass="d-none">
        <ToolBarContent>
            <MudToolBar Dense="true">
                @{
                    var alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                    foreach (var letter in alphabets)
                    {
                        <MudChip T="string" Variant="@(letter.ToString().ToLower() == alphabet?.ToLower() ? Variant.Filled : Variant.Text)" Href="@($"/english/words/{book}/{letter.ToString().ToLower()}")"
                                 Color="MudBlazor.Color.Secondary" Size="MudBlazor.Size.Small">@letter</MudChip>
                    }
                }                
                
                <MudRating Size="@MudBlazor.Size.Medium" EmptyIconColor="MudBlazor.Color.Surface" FullIconColor="MudBlazor.Color.Success" SelectedValueChanged="@(val => FilterByRating(val))" />
            </MudToolBar>
        </ToolBarContent>
        <NoRecordsContent>
            <MudText Typo="Typo.body1">没有任何记录。</MudText>
        </NoRecordsContent>
        <Columns>
            <TemplateColumn CellClass="d-flex justify-end" Title="英文单词">
                <CellTemplate>
                    <a href="javascript:void(0)" onclick="playVoice('@context.Item.Word');" title="发音">@context.Item.Word 🔊</a>&nbsp;
                    <a href="https://dict.youdao.com/result?word=@context.Item.Word&lang=en" title="查看详细解释" target="_blank">🔗</a>&nbsp;
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="@MudBlazor.Size.Small"></MudIconButton>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Meaning" Title="中文释义" Editable="false"></PropertyColumn>
            <TemplateColumn CellClass="d-flex justify-end" Title="生疏->熟练">
                <CellTemplate>
                    <MudStack Row>
                        <MudRating Size="@MudBlazor.Size.Small" 
                                   EmptyIconColor="MudBlazor.Color.Surface" FullIconColor="MudBlazor.Color.Success"
                            SelectedValue="@context.Item.Rating" SelectedValueChanged="@(val => Rating(context.Item, val))" />
                        <MudButton Size="@MudBlazor.Size.Small" Variant="@Variant.Filled"
                                   Color="@MudBlazor.Color.Default" StartIcon="@Icons.Material.Filled.Add"
                                   Style="white-space: nowrap">备忘</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
</MudPaper>

<script>
    function playVoice(word) {
        const url = "https://dict.youdao.com/dictvoice?audio="+word+"&type=2";
        const audio = new Audio(url);
        audio.play();
    }
</script>

@code {
    [Parameter]
    public string? book { get; set; }
    [Parameter]
    public string? alphabet { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    private string? username;

    MudDataGrid<EnglishWordModel> _dataGrid = new MudDataGrid<EnglishWordModel>();
    List<EnglishWordModel> _allItems { get; set; } = new ();
    List<EnglishWordModel> _items { get; set; } = new();
    int _totalWordsOfBook = 0;
    int _totalItems = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            username = user.Identity.Name;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
        StateHasChanged();
    }

    async Task LoadData()
    {
        if (string.IsNullOrEmpty(username)) return;
        var result = await EnglishService.GetEnglishWordsWithRating(username, book, alphabet);
        if (result == null) return;
        if (result.Success)
        {
            _totalWordsOfBook = result.Data?.TotalWordsOfBook ?? 0;
            _allItems = result.Data?.EnglishWords ?? new List<EnglishWordModel>();
            _totalItems = _allItems.Count;
            _items = _allItems;
        }
    }

    async Task Rating(EnglishWordModel word, int val)
    {
        if (string.IsNullOrEmpty(username)) return;
        var result = await EnglishService.RatingEnglishWord(username, word.Id, val);
        StateHasChanged();
    }

    void FilterByRating(int val)
    {
        _items = _allItems.Where(i => i.Rating == val).OrderBy(i => i.Word).ToList();
    }
}
