@page "/english/words/{book}/{alphabet}"
@page "/english/words/{book}/{start:int}/{end:int}"
@attribute [Authorize]
@using Umbra.School.Models
@using Umbra.School.Models.English
@inject IEnglishService EnglishService
@inject NavigationManager NavigationManager
@inject UserProvider UserProvider

<style>
    .mud-toolbar {
        justify-content: center;
    }
</style>

<MudPaper Elevation="0" Class="transparent-bg mb-3" Square="true">
    <MudToolBar Dense="true">
        <MudText Typo="Typo.h6" Style="font-weight:bold;">@(Dictionaries.WordsAssessmentScopes[book])（共@(_totalItems) / @(_totalWordsOfBook)个）</MudText>
        <MudSpacer />
        <MudForm>
            <MudStack Style="width: 300px;" Row>
                <MudTextField @bind-Value="@start" Style="width: 80px;" Mask="@(new RegexMask(@"^[0-9]\d*$"))" Label="从"></MudTextField>
                <MudTextField @bind-Value="@end" Style="width: 80px;" Mask="@(new RegexMask(@"^[0-9]\d*$"))" Label="到"></MudTextField>
                <MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="FilterByIndex" ButtonType="ButtonType.Button"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Abc" OnClick="FilterByAbc" ButtonType="ButtonType.Button"></MudIconButton>
            </MudStack>
        </MudForm>
    </MudToolBar>
    <MudDivider DividerType="DividerType.FullWidth" />
</MudPaper>

<MudDataGrid @ref="_dataGrid" T="EnglishWordModel" Items="@_displayItems" Dense="true" Virtualize="false" ReadOnly="true">
    <ToolBarContent>
        <MudToolBar Dense="true">
            @{
                if (!string.IsNullOrEmpty(alphabet))
                {
                    var alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                    foreach (var letter in alphabets)
                    {
                        <MudChip T="string" Variant="@(letter.ToString().ToLower() == alphabet?.ToLower() ? Variant.Filled : Variant.Text)" Href="@($"/english/words/{book}/{letter.ToString().ToLower()}")"
                                 Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Small">@letter</MudChip>
                    }
                }
            }
            <MudSpacer />
        </MudToolBar>
    </ToolBarContent>
    <NoRecordsContent>
        <MudText Typo="Typo.body1">没有任何记录。</MudText>
    </NoRecordsContent>
    <Columns>
        <PropertyColumn Property="x => x.Sort" Title="#" Sortable="true"></PropertyColumn>
        <TemplateColumn CellClass="d-flex justify-end" Title="英文单词" HeaderClass="d-flex justify-end" Sortable="true" SortBy="X => X.Word">
            <CellTemplate>
                <a href="javascript:void(0)" onclick="playVoice('@context.Item.Word');" title="发音">@context.Item.Word 🔊</a>&nbsp;
                <a href="https://dict.youdao.com/result?word=@context.Item.Word&lang=en" title="查看详细解释" target="_blank">🔗</a>&nbsp;
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="熟练程度" Sortable="true" SortBy="X => X.Rating">
            <CellTemplate>
                <MudStack Row>
                    <MudRating Size="@MudBlazor.Size.Small"
                               EmptyIconColor="MudBlazor.Color.Surface" FullIconColor="MudBlazor.Color.Success"
                               SelectedValue="@context.Item.Rating" SelectedValueChanged="@(val => Rating(context.Item, val))" />
                    @* <MudButton Size="@MudBlazor.Size.Small" Variant="@Variant.Filled"
                                   Color="@MudBlazor.Color.Default" StartIcon="@Icons.Material.Filled.Add"
                                   Style="white-space: nowrap">备忘</MudButton> *@
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Meaning" Title="中文释义" Sortable="true"></PropertyColumn>
    </Columns>
</MudDataGrid>

<script>
    function playVoice(word) {
        const url = "https://dict.youdao.com/dictvoice?audio="+word+"&type=2";
        const audio = new Audio(url);
        audio.play();
    }
</script>

@code {
    [Parameter]
    public string? book { get; set; }
    [Parameter]
    public string? alphabet { get; set; }
    [Parameter]
    public int? start { get; set; }
    [Parameter]
    public int? end { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    private string? _currentUserId;

    MudDataGrid<EnglishWordModel> _dataGrid = new MudDataGrid<EnglishWordModel>();
    List<EnglishWordModel> _allItems { get; set; } = new();
    List<EnglishWordModel> _displayItems { get; set; } = new();
    int _totalWordsOfBook = 0;
    int _totalItems = 0;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            _currentUserId = (await UserProvider.GetUserAsync()).UserId;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadData();
        StateHasChanged();
    }

    async Task LoadData()
    {
        if (string.IsNullOrEmpty(_currentUserId)) return;
        var result = await EnglishService.GetEnglishWordsWithRatings(_currentUserId, book, alphabet, start, end);
        if (result == null) return;
        if (result.Success)
        {
            _totalWordsOfBook = result.Data?.TotalWordsOfBook ?? 0;
            _allItems = result.Data?.EnglishWords ?? new List<EnglishWordModel>();
            _totalItems = _allItems.Count;
            _displayItems = _allItems;
        }
    }

    async Task Rating(EnglishWordModel word, int val)
    {
        if (string.IsNullOrEmpty(_currentUserId)) return;
        var result = await EnglishService.RatingEnglishWord(_currentUserId, word.Id, val);
        StateHasChanged();
    }

    void FilterByIndex()
    {
        if (start == null || start <= 0) start = 1;
        if (end == null || end <= 0) end = 0;
        NavigationManager.NavigateTo($"/english/words/{book}/{start}/{end}");
    }

    void FilterByAbc()
    {
        NavigationManager.NavigateTo($"/english/words/{book}/a");
    }

}
