@using Umbra.School.Models.Assessment
@inject IAssessmentService AssessmentService

<MudCard>
    <MudCardHeader>
        @if (Assessment != null)
        {
            <MudText Typo="Typo.h6">@Assessment.AssessmentInfoName</MudText>
        }
        else
        {
            <MudText Typo="Typo.h6">必须选择一个测试。</MudText>
        }

    </MudCardHeader>
</MudCard>

<MudDataGrid @ref="_reviewDataGrid" T="WordsAssessmentDetailModel" Items="@_assessmentDetails" FixedHeader="true" Height="60vh"
             ReadOnly="true" Dense="true" Virtualize="false" SortMode="SortMode.None" Elevation="0" Class="@(Assessment==null?"d-none":"")">
    <NoRecordsContent>
        <MudText Typo="Typo.body1">没有答题记录。</MudText>
    </NoRecordsContent>
    <Columns>
        <PropertyColumn Title="中文" Property="x => x.Meaning" Editable="false" />
        <TemplateColumn Title="提供的答案">
            <CellTemplate>
                @if (context.Item.Correct.HasValue && context.Item.Correct.Value)
                {
                    <MudText Color="MudBlazor.Color.Success">@context.Item.Answer</MudText>
                }
                else if (context.Item.Correct.HasValue && !context.Item.Correct.Value)
                {
                    <MudText Color="MudBlazor.Color.Error">@context.Item.Answer</MudText>
                }
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn Title="正确答案">
            <CellTemplate>
                <MudText>
                    <a href="javascript:void(0)" onclick="playVoice('@context.Item.Word');" title="发音">@context.Item.Word 🔊</a>
                    &nbsp;
                    <a href="https://dict.youdao.com/result?word=@context.Item.Word&lang=en" title="查看详细解释" target="_blank">🔗</a>
                    &nbsp;
                </MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn>
            <CellTemplate>
                @if (context.Item.Correct.HasValue && context.Item.Correct.Value)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Check" Color="MudBlazor.Color.Success" />
                }
                else if (context.Item.Correct.HasValue && !context.Item.Correct.Value)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Close" Color="MudBlazor.Color.Error" />
                }

            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>

<script>
    function playVoice(word) {
        const url = "https://dict.youdao.com/dictvoice?audio="+word+"&type=2";
        const audio = new Audio(url);
        audio.play();
    }
</script>


@code {
    [Parameter]
    public string CurrentUserId { get; set; } = string.Empty;
    [Parameter]
    public WordsAssessmentModel? Assessment { get; set; }

    MudDataGrid<WordsAssessmentDetailModel>? _reviewDataGrid;
    List<WordsAssessmentDetailModel> _assessmentDetails = new List<WordsAssessmentDetailModel>();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (Assessment != null)
            await LoadWordsAssessmentDetails();
    }

    async Task LoadWordsAssessmentDetails()
    {
        var result = await AssessmentService.GetWordsAssessmentDetails(CurrentUserId, Assessment.AssessmentInfoId);
        if (result != null && result.Success && result.Data != null)
        {
            _assessmentDetails = result.Data;
        }
    }

}
